{% extends "base.html" %}
{% block title %}Create User{% endblock %}
{% block content %}
    <h1>Create User</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <!-- {% if form.errors %}
            <div class="error-list">
                <ul>
                    {% for field in form %}
                        {% for error in field.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    {% endfor %}
                </ul>
            </div>
        {% endif %} -->
        <button type="submit">Create</button>
    </form>
{% endblock %}
